.Link {
  color: rgba(255, 255, 255, 0.5);
}
.Link:hover {
  color: rgba(255, 255, 255, 0.75);
}
.Link.disabled {
  color: rgba(255, 255, 255, 0.25);
}
.Link:hover {
  text-decoration: none;
}

.Link {
  padding: 0.5rem 1rem;
}

.active_class {
  color: #fff;
}
